./python-version
./similar-projects.txt
./todo.txt
**/.ipynb_checkpoints
**/.pytest_cache
**/__pycache__
**/.vscode
**/logs
**/.python-version
./fashion_aggergator/data/photos/*
./fashion_aggergator/artifacts/**
./fashion_aggergator/data/**
./scraper/**/data
./scraper/**/crawls
./scraper/**/*.log