./python-version
./similar-projects.txt
./todo.txt
./notebooks/.ipynb_checkpoints
./.pytest_cache
**/__pycache__
**/.vscode
**/logs
./fashion_aggergator/data/photos/*
./fashion_aggergator/artifacts/img-embeddings/*
./fashion_aggergator/artifacts/img-encoder/*
./scraper/fashion/data
./scraper/fashion/crawls
./scraper/fashion/*.log